
*.o
*.obj
*.exe
*.out
a.out

cachegrind.out.*
callgrind.out.*
cachegrind_*.out
cg_*.out
*.out.*

vgcore.*
core
core.*

perf.data
perf.data.old

resultados/
*.txt.bak


.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

test
test.out

